@charset "utf-8";

/*
------------------------------------------------------------
Project Name : APCO Master data management;
------------------------------------------------------------
*/
/* @font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI'), local('SegoeUI'),
	url('../fonts/SegoeUI.woff2') format('woff2'),
	url('../fonts/SegoeUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
} */

/* Semibold  */
/* @font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Semibold'), local('SegoeUI-Semibold'),
	url('../fonts/SegoeUI-Semibold.woff2') format('woff2'),
	url('../fonts/SegoeUI-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
} */
/* Bold */
/* @font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
	url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
	url('../fonts/SegoeUI-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
} */

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.icon-link img, a, .container, .logo img { transition: all 0.3s; }
html, body { min-width: 320px; min-height: 100vh; }
body { font:16px/20px 'Segoe UI', arial; font-weight: normal; -ms-overflow-style: scrollbar; }
a { color:#ca5010; text-decoration: none; }
a:hover { color:#9b9b9b; text-decoration: none; }
h1, h2, h3, h4, h5, h6 {color:#323130;line-height: 1.2em; padding: 0 0 10px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-size:24px; font-weight: 600;}
h2 {font-size:22px; font-weight: 600;}
h3 {font-size:20px; font-weight: 600;}
h4 {font-size:18px; font-weight: 600;}
h5 {font-size:16px; font-weight: 600;}
h6 {font-size:16px; font-weight:bold;}
p {font-size:16px; padding: 0 0 20px; }


/* Form controle
--------------------------------------------------------------------------------------------------------*/
hr, .hr {height:1px; background-color:#e1e1e1;}
.font-weight-semibold {font-weight:600;}
.w-60 {width:60px;}
.cancel-link {color:#f77272; font-size:18px;font-weight:600; border-bottom:1px solid #f77272;}
.cancel-link:hover {color:#ff0000; border-color:#ff0000;}

.btn, .btn-sm{overflow:hidden; position: relative; padding:8px 15px; border:1px solid #e0e0e0 !important; height:42px; border-radius:4px !important; box-shadow:none !important; outline:none !important;}
.btn span {color:#fff; font-size:16px; line-height:20px; font-weight:400; padding:0px; margin:0px; text-transform:capitalize; position: relative; z-index:2; display:inline-block;text-shadow:none !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.btn-sm {height:36px;} 
.btn em {font-size:28px; line-height:16px; margin-right:5px; display:inline-block; vertical-align:0px;}

.btn-icon {position: relative; padding-left:40px;}
.btn-icon-right {position: relative; padding-right:40px;}
.btn-icon .icon, .btn-icon-right .icon {position:absolute; left:15px; top:50%; display:block; height:16px; width:16px; margin-top:-8px; z-index:2;}
.btn-icon-right .icon {left:auto; right:15px;}
.btn-sm.btn-icon {padding-left:14px;}
.btn-sm.btn-icon .icon {left:8px;}
.btn-icon-text {padding-left:40px; position: relative;}
.btn-icon-text .icon {position: absolute; left:15px; top:2px; overflow:hidden;}

.btn.icon-link {width:32px !important; height:32px !important; border-radius:32px !important; padding:0px;}
.btn.icon-link img{width:30px;height:63px;display:block;position:absolute;top:-2px;left:0;}
.btn.icon-link:hover img {top:-32px;}

.btn-block .btn{margin-right:15px; margin-bottom:10px;}
.btn-center {text-align:center;}
.btn-center .btn {margin:5px auto; }

.btn-primary{background-color:#ca5010 !important; border-color:#ca5010 !important; color:#fff!important; }
.btn-primary:hover{background-color:#e03900 !important; border-color:#e03900 !important; }
.text-primary {color:#ca5010 !important;}

.btn-outline-primary {border-color:#ca5010 !important;}
.btn-outline-primary:hover {background-color:#ca5010 !important;} 

.btn-secondary span {color:#323130 !important;}
.btn-secondary {background-color:#f6f6f6 !important; border-color:#dddddd !important;}
.btn-secondary:hover{background-color:#efefef !important;}

.btn-outline-secondary {background-color:#f6f6f6 !important; border-color:#dddddd !important;}
.btn-outline-secondary:hover {background-color:#6c757d !important; border-color:#6c757d !important;} 

.form-group .form-control, .form-group .custom-select, .ms-SelectionZone .ms-BasePicker-text {font-size: 16px; color: #323130; border-color:#dddddd; height:42px; border-radius:4px; outline:none !important; box-shadow:none !important;}
.form-group .form-control.custom-control {padding-left:8px;font-size:16px; color: #323130;}

.dataTables_filter input:focus, .form-group .form-control:focus, .form-group .custom-select:focus {border-color:#323130;}
.form-control:disabled, .form-control[readonly]{background-color: #f6f6f6 !important;}
.form-group label {font-size:16px; color:#323130; padding-bottom:5px;} 
.form-group label .loading {height:26px; display: inline-block; vertical-align: bottom; margin-bottom:-5px; z-index:0;position: relative;}
.form-group label sub {color:#ff3c3c; line-height:13px;vertical-align: top; padding-left:2px;}
.form-group .custom-select {padding:0 32px 0 11px; background:url("../images/dropdown-arrow.svg") no-repeat right 10px center/14px 8px;}
.form-group textarea.form-control {min-height:42px; height:auto;}
.date-pick > .form-control {background-color:#fff; background:url("../images/ic-date.svg") no-repeat right 12px center; background-size:20px 20px;  padding-left:10px; padding-right:35px; }
.input-group .date-pick {-webkit-box-flex:1; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%;}

.form-info .form-group label {font-size:14px; color:#666666; font-weight:bold;}
.form-info .form-group p {font-size:14px; color:#666666;}

.search-control { background:url("../images/search.svg") no-repeat 10px center; padding-left:35px;}

.ms-DatePicker .ms-TextField-wrapper .fieldGroup {background-color:transparent; background:url("../images/ic-date.svg") no-repeat right 12px center; background-size:20px 20px; font-size: 16px; color: #323130; border-color:#dddddd; height:42px; border-radius:4px; outline:none !important; box-shadow:none !important;}

.dataTables_filter {margin-bottom:10px;}
.dataTables_filter input{padding:0 10px; border:1px solid #dddddd;height:42px;outline:none!important;box-shadow:none!important;border-radius:4px;}

.ms-Dropdown .ms-Dropdown-title {font-size: 16px; color: #323130; padding:4px 30px 4px 14px;border-color: #ddd; height: 42px; border-radius:4px; outline: none!important; box-shadow: none!important;}
.ms-Dropdown .ms-Dropdown-caretDownWrapper {line-height:42px;}
.form-inline .ms-Dropdown .ms-Dropdown-title {min-width:200px;}

/* Select Control */
.Select-control {font-size: 16px; color: #323130; border-color: #ddd; height: 42px; border-radius:4px; outline: none!important; box-shadow: none!important;padding-right: 30px;}
.Select-control:after {content:''; cursor:pointer; z-index:1; height:42px; width:42px; position: absolute; right:5px; top:0px; background:url("../images/dropdown-arrow.svg") no-repeat center/14px 8px;}  
.arrow-none .Select-control:after {display:none;}
.Select-control .Select-arrow-zone {display:none;}
.Select-control .Select-clear {line-height:13px; vertical-align: top;}
.Select-option.is-focused {background:none;}
.Select-option.is-selected, .Select-option:hover {background-color: #faeae2;}


/* custom-control */
.custom-control .custom-control-label {font-size:16px; color:#323130; font-weight:400; text-transform:capitalize; line-height:20px; cursor:pointer;}  
.custom-control-input:checked~.custom-control-label::before {border-color: #ca5010; background-color: #ca5010;}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {border-color: #ca5010;}
.custom-control-input:focus~.custom-control-label::before {box-shadow: 0 0 0 0.2rem rgba(202, 80, 16, 0.15);}
.custom-control-input:not(:disabled):active~.custom-control-label::before {border-color:rgba(202, 80, 16, 0.15); background-color:rgba(202, 80, 16, 0.15);}

.bl-1 {border-left:1px solid #cccccc;}
.b-0 {border:none !important;}

/* Main Content
--------------------------------------------------------------------------------------------------------*/
.container-xl {max-width: 1238px;}
.main-content {padding:50px 0px 43px; position: relative; z-index:1;}
.main-title {color:#323130; position: relative; padding-left:40px;}
.main-title img {position: absolute; left:0px; top:0px;}

/* Data Not Found */
.not-found-block {position: relative; min-height:450px; text-align: center; padding:30px 15px 80px;}
.not-found-block h1 {font-size:36px; color:#818181; padding:20px; text-align: center;}
.not-found-block .not-found {max-width:250px; margin:auto; opacity:0.5;}


/* Badge
--------------------------------------------------------------------------------------------------------*/
.badge {font-size:13px; font-weight:400; line-height:24px; height:26px; min-width:64px; border-radius:4px; padding:0 5px;}
.badge.badge-warning {color:#fff; background-color:#f3a95b;}
.badge.badge-success {color:#fff; background-color:#78b766;}
.badge.badge-primary {color:#fff; background-color:#6fade7;}
.badge.badge-light {color:#fff; background-color:#c2c2c2;}
.badge.badge-danger {color:#fff; background-color:#f77272;}
.text-danger {color:#ff6f6f !important;}
strong {font-weight: bold;}

/* card
--------------------------------------------------------------------------------------------------------*/
.card-primary {border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);}
.card-primary .card-header {border:0px; padding:30px 30px 15px; background:none;} 	
.card-primary .card-header h3 {color:#323130; font-weight:600; text-transform:capitalize;  padding:0px; display:inline-block; border-left:3px solid #cf6026;padding-left:15px;}
.card-primary .card-header .header-icon {padding-right:30px; position: relative;}
.card-primary .header-icon .icon {width: 22px;height: 22px; border-radius:22px; display: block; position: absolute;right:0px; top:3px;}
.card-primary .header-icon .icon img {width: 22px;height: 22px; display: block;}
.card-primary .card-body {padding:15px 30px;}
.card-primary .card-footer {border:0px; background:none; padding:20px 30px;}
.card-primary .card-body-title {border-bottom:1px solid #e1e1e1; padding-bottom:10px; margin-bottom:20px;}
.card-primary .card-footer p {color:#666666;}
.card-responsible .card-body {padding:15px 130px;}
.card-primary .card-body .form-info {border-right:1px solid #cccccc;}
.card-primary .card-body .form-info .form-group p {word-break: break-all;}

/* Process
--------------------------------------------------------------------------------------------------------*/
.process-block li {position: relative; text-align: center;}
.process-block li span {font-size:18px; color:#666666; line-height:30px; width:36px; height:36px; border-radius:36px;border:2px solid #dddddd; background-color:#fff; text-align:center; display:block; margin:auto; position: relative; z-index:2;}
.process-block li::after {content:"";display: block; position:absolute; top:17px; right:50%; height:2px;width:100%;background-color:#dddddd;}
.process-block li:first-child:after {display: none;}
.process-block li.active span {color:#fff; background-color:#ca5010; border-color:#ca5010;}
.process-block li.active::after {background-color:#ca5010;}
.process-block li.save span {font-size:0px; background-image:url("../images/right.svg"); background-position:center center;  background-size:36px 36px; background-repeat:no-repeat;}
.process-block li p {font-size:16px; color:#323130; padding:5px;}

/* Option Toolbar */
/* Option Toolbar */
.option-toolbar .custom-control{height:100%; padding:0px; position: relative;}
.option-toolbar .custom-control .custom-control-label {font-size:18px;color:#666666;font-weight:400;text-align:center;cursor:pointer; padding:20px;display:block;border-radius:4px;overflow:hidden;width:100%;height:100%;}
.option-toolbar .custom-control .custom-control-label .icon{width:100px;height:100px;border-radius:100px;overflow:hidden;position:relative;background-color:#e1e1e1;display:block;margin:15px auto; transform-style: preserve-3d; -moz-transform-style: preserve-3d; transition: all 0.5s ease-in-out 0s;}
.option-toolbar .custom-control .custom-control-label .icon img{width:100px;height:200px;display:block; transition-delay:0.2s;} 
.option-toolbar .custom-control .custom-control-label:hover {color:#ca5010; font-weight:600;}
.option-toolbar .custom-control .custom-control-input:checked~.custom-control-label {color:#ca5010; font-weight:600;}
.option-toolbar .custom-control .custom-control-label:hover .icon, .option-toolbar .custom-control .custom-control-input:checked~.custom-control-label .icon {transform:rotateY(180deg); background-color:#ca5010;}
.option-toolbar .custom-control .custom-control-label:hover .icon img, .option-toolbar .custom-control .custom-control-input:checked~.custom-control-label .icon img {margin-top:-100px;transform:rotateY(180deg);}


/* grid-table
--------------------------------------------------------------------------------------------------------*/
.grid-table.table-responsive {border:0px; margin-bottom:0px; border:0;}
.min-height.grid-table.table-responsive {min-height: 340px;}
.grid-table .table {margin-bottom:0px; min-width:700px; width: 100%!important; margin-top: 0px !important;}
.grid-table .table.w-auto {width:auto !important;}
.grid-table .table.min-w-0 {min-width:0px;}
.grid-table .table>thead>tr>th,  
.grid-table .table>tbody>tr>th, 
.grid-table .table>tfoot>tr>th,
.grid-table .table>thead>tr>td, 
.grid-table .table>tbody>tr>td, 
.grid-table .table>tfoot>tr>td {color:#666666; font-size:14px; font-weight:400; vertical-align: middle; padding:0px 10px; white-space:nowrap; height:44px;}
.grid-table .table>thead>tr>th {color:#323130; font-size:14px; font-weight:600; white-space: nowrap; padding:0px 10px; white-space:nowrap; border:0px; background-color:#f6f6f6;}
.grid-table .table th.actions, .grid-table .table td.actions {white-space: nowrap; text-align:center;}
.grid-table .table .actions > a {padding:7px; margin:0 2px; vertical-align:middle; border-radius:32px; display:inline-block; padding:6px;}
.grid-table .table .actions > a img {width:22px; height:22px; display: block;}
.grid-table .table>tbody>tr>td a {color:#0a19ff; font-size:14px; font-weight:400; }
.grid-table .table>tbody>tr>td a:hover {color:#000;} 
.grid-table .table .actions a:hover, .grid-table .table .actions a:focus {background-color:#d1d1d1;}
.grid-table .table-hover>tbody>tr:hover {background-color:#f9f9f9;}
.grid-table td.center, th.center {text-align:center;}

/* table-bordered */
.grid-table .table.table-bordered {border-bottom:1px solid #e1e1e1;}
.grid-table .table.table-bordered>thead>tr>th,  
.grid-table .table.table-bordered>tbody>tr>th, 
.grid-table .table.table-bordered>tfoot>tr>th,
.grid-table .table.table-bordered>thead>tr>td, 
.grid-table .table.table-bordered>tbody>tr>td, 
.grid-table .table.table-bordered>tfoot>tr>td {border:0px; border-top:1px solid #e1e1e1; border-bottom:0;}
.grid-table .table.table-bordered>thead>tr>th {border:0px;}

/* paginetion ----------------------*/
.grid-bottom{background:#fff;padding:10px 0;}
.paginetion{float:right;}
.paginetion{margin:0px;padding:0;list-style-type:none;}
.paginetion li{padding:5px;margin:0px;float:left;}
.paginetion li a{font-size:16px; color:#666666; height:38px; padding:0 5px; min-width:38px; line-height:36px; display:block; text-align:center; border:1px solid transparent;}
.paginetion li a.prevar, .paginetion li a.nxtar{color:#373737; padding:0 10px;}
.paginetion li a:hover {background:#ccc;}
.paginetion li a.active, .paginetion li a.active:hover{border-color:#d7d7d7; background-color:#f6f6f6;}
.paginetion li a.disabled {color:#dadada !important; background:none !important; }

.pagination{float:right; margin-bottom:15px;}
.pagination{margin:0px;padding:0 10px;list-style-type:none;}
.pagination li{padding:2px;margin:0px;float:left;}
.pagination li a {font-size:16px; color:#666666; height:38px; padding:0 5px; min-width:38px; line-height:36px; display:block; text-align:center; border:1px solid transparent !important; box-shadow:none !important; }
.pagination li.previous a, .pagination li.next a{color:#373737; padding:0 10px;}
.pagination li:hover .page-link, .page-item.active .page-link, .pagination li.active:hover .page-link{color:#323130;border-color:#d7d7d7 !important; background:#f6f6f6;}
.pagination li.disabled a {color:#dadada !important; background:transparent !important;}
.page-item:last-child .page-link, .page-item:first-child .page-link {border-radius:0px;  }

.dataTables_wrapper .dataTables_info {float:left; margin-top:10px;}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {margin-top:10px;}


/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer { background: #333; padding: 10px 0; text-align: center; position: relative; min-height: 43px; margin-top: -43px; /* Give Footer height to margin top */ }
.copyright { padding: 0 0 10px; color: #fff; font-size: 0.8em; line-height: 1.2em; }

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:991px) {
	.option-toolbar .custom-control .custom-control-label {padding:20px 10px;}
	.change-text {padding:0 !important; margin:0 0 -18px 0!important;}
}
@media (max-width:767px) {
	.card-primary .card-header {padding:15px;}
	.card-primary .card-body {padding:15px;}
	.card-primary .card-footer {padding:15px;} 
	.card-primary .card-body .form-info {border:0;background-color:#f4f4f4; padding-top:10px; margin-bottom:10px;}
	.card-primary .card-body .form-info .form-group p {padding-bottom:0px; }
}
@media (max-width:575px) {
	body { font:14px/18px;}
	h1 {font-size:22px; font-weight: 600;}
	h2 {font-size:20px; font-weight: 600;}
	h3 {font-size:18px; font-weight: 600;}
	h4 {font-size:16px; font-weight: 600;}
	h5 {font-size:14px; font-weight: 600;}
	h6 {font-size:14px; font-weight:bold;}
	p {font-size:14px; padding: 0 0 20px; }
	.form-group label, .btn span {font-size:14px;}

	.user-block {display: block; margin-bottom:10px;}
	.option-toolbar .custom-control {padding-bottom:10px;}

	.process-block li span {font-size:14px; width:24px; height:24px; border-radius:24px; line-height:19px; background-size:24px 24px; }
	.process-block li p {font-size:12px; color:#323130; padding:5px 2px;}
	.process-block li::after {top:13px;}

}
